#container{
	width: 960px;
	min-height: 500px;
	margin: 20px auto;
	border: 1px solid red;
	padding: 10px;
	ul{
		padding: 0;
		li:first-child{
			border-top: 1px solid #ddd; 
		}
		li{
			border-bottom: 1px solid #ddd; 
			list-style-type: none;
			padding: 5px;
		}
		li.winner{
			background: url("/assets/winner.jpg") right no-repeat;
		}
	}
}